<div class="container">
  {{#if @model}}
    <AddressComparisonTable
      @labelA={{@model.mapping.objectLabel}}
      @labelB={{@model.mapping.subjectLabel}}
      @addressA={{this.leftAddress}}
      @addressB={{this.rightAddress}}
    />
    <BsButton class="btn btn-success" {{on "click" this.accept}}>
      approve match
    </BsButton>
    <BsButton class="btn btn-warning" {{on "click" this.decline}}>
      decline match
    </BsButton>
  {{else}}
    <div class="mt-5">
      <BsAlert @type="success" @dismissible={{false}}>
        <strong>Well done!</strong> All mappings are verified.
      </BsAlert>
    </div>
  {{/if}}
</div>